__pycache__/
_out/
_tools/
temp/
logs/
models/
backups/
temp/
_benchmarks_results/*/measurements.csv
_benchmarks_papers_official_results/*/measurements.csv
_benchmarks_work_zones_papers_official_results/*/measurements.csv
old_codes/_benchmarks_results/
_benchmarks_results/*

_collect_data_auc2/_output_logs/*
_collect_data_auc2/nohup*
_collect_data_auc2/core

auc2dataset_metadata_*

nohup*

texput.log
temp.tex
network.log
network.tex
network.aux
core
town_positions.pdf
